// views/result.pug
doctype html
html
  head
    title Form Submission Result
  body
    h1 Form Submission Result
    p
      | file: #{harFile}
    p
      | checkbox1: #{checkbox1}
    p
      | checkbox2: #{checkbox2}
    p
      | checkbox3: #{checkbox3}
    p
      | Input 1: #{input1}
    p
      | Input 2: #{input2}
    p
      | Input 3: #{input3}
    // Additional text
    each text in textlog
      p #{text}
    // You can add more lines or customize the display as needed.
    p
      a(href='/') Go back to the form
